* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */



}

.navbar {

   
    margin: 0;
     height: 60px;
     width: 100%;
     background-color: #db0000;
     color: white;
      display: flex;

     
     justify-content: center;

    
     align-items: center; 

    
}
.nav-img{
    background-image: url(https://colanext.com/wp-content/uploads/2023/05/Round-Logo.png);
    background-size: cover;
    /* background-attachment: fixed; */
    height: 140px;
    width: 140px;
    position: relative;
    top: 10px;
    left: 60px;
    transition: all ease 1s;
    position: fixed;




}
.nav-img:hover{

    transition-duration: 0.7s;
    transition-property: all;
 
    transform: rotate(360deg);
    cursor: pointer;
    position: fixed;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 500px;

}
.nav-item-1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
    background-color:   rgba(255, 255, 255, 0);
    color: #00000000 ;
    transition ;
    


}
.nav-item-1:hover{
    visibility: visible;
    cursor: pointer;
    transform: translateX(20px);
    color: #000000;
    background-color: rgb(255, 255, 255);

}

.nav-item-2{

}
.nav-item-3
.nav-item-4
.nav-item-5